In [12]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pypfopt import expected_returns

In [13]:
tickers = ["SPY"] 
stock_data = yf.download(tickers, period="10y")

[*********************100%%**********************]  1 of 1 completed

In [30]:
prices = pd.DataFrame(stock_data["Adj Close"].dropna(how="all"))
prices.tail()

             Adj Close
Date
2023-10-31  418.200012
2023-11-01  422.660004
2023-11-02  430.760010
2023-11-03  434.690002
2023-11-06  434.929901

In [34]:
# Calculate Daily Returns
daily_returns = prices.pct_change()
daily_returns.head()

            Adj Close
Date
2013-11-06        NaN
2013-11-07  -0.012643
2013-11-08   0.013491
2013-11-11   0.000169
2013-11-12  -0.002030

In [35]:
stddev = daily_returns.std()
#stddev.sort_values(inplace=True)
stddev

Adj Close    0.011037
dtype: float64

In [24]:
stddev_annualized = stddev * np.sqrt(252)
stddev_annualized

Adj Close    0.175201
dtype: float64

In [38]:
sharpe_ratio = (daily_returns.mean() * 252) / (stddev_annualized)
sharpe_ratio

Adj Close    0.705631
dtype: float64

In [26]:
#Expected return = risk free premium + Beta (expected market return - risk free premium).  Investopedia
mu = expected_returns.capm_return(prices)
mu

Adj Close    0.114263
Name: mkt, dtype: float64